body {
    display: block;
    text-decoration: none;
    background-color: #5d2121;
    color: #ffffff;
}

body a{
    color: #ffffff;
    text-decoration: none;
}

header{
    height: 150px;
    width: auto;
    background-color: #bf4b4b;
}

nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7d2121;
}

.personagem {
    background-color: #8b2d2d;
    margin-left: auto; 
    margin-right: 0;
}

.personagem img{
    align-self: right;
}

.texto {
    color: white;
    background-color: #5d2121;
}

.table a {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    padding-left: 25px;
    border-collapse: collapse;
    display: block;
    text-decoration: none;
    color: inherit;
}