body{
    color: #ffffff;
    background-color: #383838;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: 10;
    margin-right: 10;
}

.row{
    display: flex;
    padding: 5px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 7px;
    padding-left: 25px;
    border-collapse: collapse;
}

figure a {
    text-decoration: none;
    color: inherit;
}

th{
    padding: 0 35px;
}

header{
    height: 150px;
    width: auto;
    background-color: #292727;
    margin-top: auto;
}

nav{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3b3b6f;
}

.table a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.padrao {
    border-radius: 25px;
    background-color: #1e1f31;
    padding: 20px;
}

figure{
    display: inline-block;
    text-align: center;
    margin: 15px;
    background-color: #1e1f31;
    padding: 15px;
    border-radius: 15px;
}

.texto {
    background-color: #383838;
    margin-left: 15px;
}
