.row{
    display: flex;
    padding: 5px;
}
body{
    color: #ffffff;
    background-color: #383838;
}
table{
    border: 2px;
    color: white;
    border-spacing: 7px;
    padding-left: 25px;
    border-collapse: collapse;
}
th{
    border: 1px white;
}
/* aabibidibidou */ 